/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
  /***** BASE STYLES *****/

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #1C2738;
  text-align: left;
}

h3 {
  font-family: 'PT Serif Caption', serif;
  font-size: 1.2em;
  text-align: center;
}

ul, ol {
  list-style-type: none;
  text-decoration: none;
}

p {
  font-size: 0.88em;
  line-height: 1.25;  
}
 
img { 
 width: 100%;
}

figure {
       margin: 0;
}
 
.content-wrapper {
 width: 90%;
}

/***** HEADER *****/
header {
  display: flex;
  justify-content: center;
  background: url(../img/white-desk-2.jpg) center no-repeat #333;;
  background-size: cover;
  min-height: 440px;
}

nav {
  padding: 20px 0 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  color: #ffffff;
}      

a:hover {
      color: #8c8c8c;
}

header h1 {
  width: 100%;
  font-family: 'Warnes', cursive;
  font-size: 4.5em;
  color: #066F78;
  margin: 10px 0;
}

header h2 {
  font-size: 1.9em;
  color: #1C2738;
  padding-bottom: 45px;
  
}

/***** PORTFOLIO *****/

.portfolio {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio .content-wrapper {
  display: flex;
  justify-content: center;
  margin: 0;
  flex-flow: row wrap;
}

.portfolio figure {
  width: 100%;
  margin: 20px 0;
}

.portfolio img {
  border: 2px solid #066F78;
}

.portfolio h4 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-text {
  width: 100%;
  justify-content: center;
}

.portfolio p {
  margin-bottom: 30px;
}

/***** ABOUT *****/
.about {
  background-color: #327F8E;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

}
.about .content-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.about .about-paragraph {
  width: 100%;
  align-items: center;
}
.about h3 {
  color: white;
}
.about p {
  color: white;
}

/***** FOOTER *****/
footer {
  background-color: #c6e5eb;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer figure {
  display: flex;
  justify-content: center;
}

footer img#headshot {
  width: 45%;
  border-radius: 50%;
  border: 3px solid #ffffff;
}

footer h4 {
  margin: 40px 0 10px 0;
}

footer .email, footer .whatsapp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .photo, 
footer .email-contact,
footer .whatsapp-contact,
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

footer .email {
  width: 70%;
}

footer .whatsapp {
  width: 45%;
}

footer .email p, footer .whatsapp p {
  margin: 0;
}

footer .email a, footer .whatsapp a {
  text-decoration: none;
  color: #066F78;
  font-size: 0.875em;
}

footer .email i, footer .whatsapp i {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7em;
  color: #066F78;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

footer .social-icons i {
  font-size: 1.3em;
  color: #066F78;
  font-size: 1.6em;
}

.copyright {
  width: 100%;
  text-align: center;
  font-size: .875em;
  padding-top: 50px;
  margin-bottom: 0;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /* TABLET STYLES */
  
  /* General Styles */

  .content-wrapper {
    max-width: 640px;
  }

  h3 {
    font-size: 1.5em;
    margin: 50px 0;
  }

  p {
    font-size: 1.125em;
  }

  /* Header */
  nav {
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    width: 45%;
  }

  header h1 {
    font-size: 5em;
    margin: 20px 0 30px 0;
  }

  header h2 {
    padding-top: 35px;
  }
 
  /* Portfolio Section */
  
  .portfolio {
    margin-bottom: 80px;
  }

  .portfolio figure, 
  .portfolio .portfolio-text {
    width: 48%;
  }

  .portfolio figure {
    margin: 20px 0 40px 0;
  }

  .portfolio .portfolio-text {
    margin: 20px 0 0 20px;
  }

  .portfolio h4 {
    font-size: 1.125em;
  }

  /* About Section */

  .about {
    padding-bottom: 90px;
  }

  .about h3 {
    width: 100%;
  }

  /* Footer */

  footer img#headshot {
    width: 30%;
  }

  footer h4 {
    font-size: 1.25em;
  }

  footer .email a, footer .whatsapp a {
    font-size: 1em;
  }

  footer .email {
    width: 40%;
  }

  footer .whatsapp {
    width: 30%;
  }

  footer .social-icons {
    width: 35%;
  }
}

@media only screen and (min-width: 1200px) {
  /* DESKTOP STYLES */

  /* General Styles */
  .content-wrapper {
    max-width: 1000px;
  }

  h3 {
    font-size: 2.25em;
  }

  p {
    font-size: 1.25em;
    line-height: 1.33;
  }

  /* Header */

  header {
    min-height: 800px;
  }

  nav ul {
    width: 38%;
    padding-top: 50px;
  }

  nav ul li a {
    font-size: 1.25em;
  }

  header h1 {
    font-size: 7.81em;
    margin: 30px 0 70px -15px;
  }

  header h2 {
    font-size: 3.125em;
    line-height: 1.25em;
  }

  /* Portfolio */

  .portfolio figure {
    margin: 40px 0;
  }

  .portfolio .portfolio-text {
    margin: 40px 0 0 40px;
  }

  .portfolio h4 {
    font-size: 1.5em;
  } 

  /* About */

  .about .content-wrapper {
    justify-content: space-around;
  }

  .about .about-paragraph {
    flex-basis: 45%;
    justify-content: space-around;
  }

  .about p {
    line-height: 1.6;
  }

  /* Footer */

  footer .content-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
  }

  footer img#headshot {
    width: 55%;
  }

  footer .photo {
    order: 2;
    margin-bottom: 30px;
  }

  footer .email-contact {
    order: 1;
  }

  footer .whatsapp-contact {
    order: 3;
  }

  footer .social {
    order: 4;
  }

  footer .photo,
  footer .email-contact,
  footer .whatsapp-contact,
  footer .social {
    flex-basis: 33%;
  }
 
  footer .whatsapp {
    width: 75%;
  }

  footer .email {
    width: 100%;
  }

  footer .social-icons {
    width: 60%;
  }

  footer h4 {
    font-size: 1.5em;
  }

  footer .email a, footer .whatsapp a {
    font-size: 1.25em;
  }

  .copyright {
    font-size: 1em;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

